.forecast-card0 {
    position:relative;
    height: auto;
    height:58px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
}  

.left-side {
    position:relative;
    display:flex;
    height:80%;
    width:auto;
    gap:20px;
    align-items: center;
}

.parent {
    position:relative;
    display:flex;
    flex-direction: column;
    width:auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:5px;
}

.desc {
    color: var(--color-gray-100);
    width:auto;
    height:auto;
    margin:0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
}

.div1 {
  width:auto;
  height:auto;
  margin:0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;
}

.div2 {
    height:auto;
    width:auto;
    margin:0;
    color: var(--color-gray-100);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: right;
}

.desc-icon {
  height:48px;
  width:48px;
  object-fit: contain;
}

@media (min-width: 1600px) {
  .forecast-card0 {
    height:auto;
  }  

  .parent {
    height:auto;
    gap:10px;
  }

  .left-side {
    height:auto;
    gap:25px;
  }

  .desc {
    font-size: 25px;
    height:auto;
    line-height: 25px;
  }

  .div1 {
    font-size: 25px;
    height:auto;
    line-height: 25px;
  }

  .div2 {
      font-size: 30px;
      line-height: 30px;
  }

  .desc-icon {
    height:60px;
    width:60px;
    object-fit: contain;
  }
}
 
@media (max-width: 768px) {

  .left-side {
    height:90%;
  }

  .desc {
    font-size: 16px;
  }

  .div1 {
    font-size: 16px;
  }

  .div2 {
    font-size: 18px;
}

  .desc-icon {
    height: 48px;
    width:48px;
  }
}


@media (max-width: 375px) {
  .left-side {
    height:80%;
  }

  .desc-icon {
    height:42px;
    width:42px;
  }
}