.forecast-card0 {
    /*position: absolute;*/
    position:relative;
    /*
    top: 699px;
    left: 949px;
    */
    /*width: 24.583vw;*/
    height: auto;
    height:58px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
}  

.left-side {
    position:relative;
    display:flex;
    height:100%;
    width:auto;
    gap:20px;
}

.parent {
    /*
    position:absolute;
    height:100%;
    width: 12.71%;
    top: 10.34%;
    right: 63.84%;
    bottom: 10.34%;
    left: 23.45%;
    */

    position:relative;
    display:flex;
    flex-direction: column;
    width:auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div1 {
    /*position: absolute;*/
    /*
    top: 0;
    left: 0;
    */
    
}

.desc {
    /*
    top: 54.35%;
    left: 0;
    
    position: absolute;
    */
    color: var(--color-gray-100);
}


.div2 {
  /*
  position: absolute;
  height: 55.17%;
  width: 14.12%;
  top: 22.41%;
  left: 85.88%;
  */
  height:auto;
  width:auto;
  /*font-size: var(--font-size-5xl);*/
  color: var(--color-gray-100);
  /*text-align: right;*/
  /*
  display: flex;
  align-items: center;
  */
}

.desc-icon {
    /*position: absolute;*/
    /*height: 82.76%;*/
    height:auto;
    width:auto;
    /*
    width: 13.56%;
    top: 5.17%;
    right: 86.44%;
    bottom: 12.07%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    */
    /*display:none;*/
  }

  /*
.forecast-card1,
.forecast-card2,
.forecast-card3,
.forecast-card4 {
  /*
  position: absolute;
  top: 777px;
  left: 949px;
  */
  /*
  position:relative;
  width: 24.583vw;
  height: 7.196vh;

  width:100%;
}

*/

@media (max-width: 768px) {

    
    
    /*
      .forecast-card0, .forecast-card1, .forecast-card2, .forecast-card3, .forecast-card4{
        width:100%;
      }
    */

      .left-side {
        height:90%;
      }
}


@media (max-width: 375px) {

  
  /*
    .forecast-card0, .forecast-card1, .forecast-card2, .forecast-card3, .forecast-card4{
      width:100%;
    }
  */

  .left-side {
    height:80%;
  }
}