.todays-weather-forecast {
    position:static;
    top: 77.171vh;
    left:2.778vw;
}

@media (max-width: 768px) {
    .todays-weather-forecast {
        position: static;
    }
}

@media (max-width: 365px) {
    .todays-weather-forecast {
        position: static;
    } 
}