.bg-weather-icon {
    position: absolute;
    width:100vw;
    height:100vh;
    background-size: cover;
    background-image: url('../../../img/bgweather@2x.png'); // Default image
    
  @media (max-width: 768px) {
    background-image: url('../../../img/bg-weather-tablet.png'); // Image for max-width 768px
  }
  @media (max-width: 375px) {
    background-image: url('../../../img/bg-weather-mobile.png'); // Image for max-width 375px
  }
}
  