.group-parent {
    width:100%;
    position: relative;
    height: auto;
    display:flex;
    align-items: center;
    gap:20px;
  }

.temp-max-parent {
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%
}

.vector-icon {
    height: 100%;
    height:auto;
    width:auto;
  }

.temp-max {
    width: auto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    margin:0;
}

.div11 {
    color: var(--color-white);
    width:auto;
    height:auto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    margin:0;
  }

  @media (min-width: 1600px){
    .temp-max {
      font-size: 25px;  
      height:auto;
    }
  
    .div11 {
      height:auto;
      font-size: 25px;
    }

    .vector-icon {
      width:40px;
      height:40px;
    }
  }

  