.search-history-container {
    display:none;
    position:absolute;
    padding: 20px;
    z-index: 999;
    min-height: 100vh;
    overflow-y: auto;
    left:0;
    top: 3px;

    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(19px);
    border-right: 5px solid rgba(255, 255, 255, 0.14);
    box-sizing: border-box;
    width: 36.875vw;
    height: 149.504vh;
    text-align: left;
    z-index: 999;
  }
  
  .search-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .close-btn {
    background-color: transparent;
    border: none;
    color: var(--color-gray-100);
    font-size: 24px;
    cursor: pointer;
  }
  
  .search-history-container h2 {
    margin-top: 20px;
    text-align: center;
    color: var(--color-gray-100);
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    font-family: Roboto;
    font-weight: 400;
  }
  
  .search-history-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-history-container li {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .search-history-container li:hover {
    background-color: #f1f1f1;
    color:#000;
  }